body {
	background: #666;
}

blockquote {
	border: none;
}

.btn-lg {
	background: #666;
	color: white;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; 

  display: flex;
  align-items: center;
}

.col-xs-12 {
	text-align: center;
	background: white;
	color: #666;

	width: 80%;
	padding: 50px;
	margin: auto;
}