body {
	background: #333;

}

blockquote {
	border: none;
}

.btn-lg {
	background: #333;
	color: white;
	border: none;
}

.btn-lg:hover {
	opacity: 0.9;
}

.btn-lg:focus, .btn-lg:active {
	outline: none !important;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; 

  display: flex;
  align-items: center;
}

.col-xs-12 {
	text-align: center;
	background: white;
	color: #333;

	width: 80%;
	padding: 50px;
	margin: auto;
	border-radius: 25px;
}

#quote {
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-size: 2em;
}

#author {
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 1.5em;
}

#newQuote {
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
}